body {
    margin: 0;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.selected {
    width: 20px;
    height: 20px;
    background: #dd5454;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.line {
    background: #000000;
    width: 10px;
    height: 10px;
    position: absolute;
    transform-origin: top;
    rotate: -90deg;
}

.line-info {
    width: max-content;
    position: absolute;
    left: 5px;
    bottom: calc(50% - 30px);
    text-align: center;
}

.input-line {
    width: 50px;
    text-align: center;
}


.input-info {
    margin: 4px 0 ;
    font-size: 14px;
}

.draw-screen {
    width: calc(100% - 40px);
    height: calc(90% - 40px);
    margin: 20px;
}

.point {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #000000;
    position: absolute;
}

.controls {
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
    justify-items: center;
}

.form-divide {
    box-sizing: border-box;
}

.buttons {
    grid-row: 2 / 3;
}

.buttons button {
    margin: 0 0.2em;
}

.division-text {
    position: absolute;
}

.division-text p {
    margin: 0;
    background: #c3c3c3f8;
    position: relative;
    z-index: 50;
    outline: solid 1px #fffffff8;
    min-width: 3em;
    text-align: center;
    font-size: 14px;
}

.division-points .point {
    width: 16px;
    height: 16px;
}