body {
    margin: 0;
}

.selected {
    width: 20px;
    height: 20px;
    background: #dd5454;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.line {
    background: #000000;
    width: 10px;
    height: 10px;
    position: absolute;
    transform-origin: top;
    rotate: -90deg;
}