body {
    margin: 0;
    overflow: hidden;
}

.main-container {
    width: 100vw;
    height: 100vh;
}

.selected {
    width: 20px;
    height: 20px;
    background: #dd5454;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.line {
    background: #000000;
    width: 10px;
    height: 10px;
    position: absolute;
    transform-origin: top;
    rotate: -90deg;
}

.input-line {
    position: absolute;
    left: -60px;
    width: 50px;
    bottom: calc(50% - 10px);
}

.draw-screen {
    width: calc(100% - 40px);
    height: 90%;
    margin: 20px;
}

.point {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #000000;
    position: absolute;
}

.form-divide {
    position: absolute;
    top: 0;
}